QPushButton#mpForwardBtn{
	border-image: url(:/simple/resources/next.png);
	max-height: 30px;
	max-width: 30px;
}
QPushButton#mpForwardBtn:hover{
	border-image: url(:/simple/resources/next_down.png);
	max-height: 30px;
	max-width: 30px;
}

QPushButton#mpBackwardBtn{
	border-image: url(:/simple/resources/pre.png);
	max-height: 30px;
	max-width: 30px;
}

QPushButton#mpBackwardBtn:hover{
	border-image: url(:/simple/resources/pre_down.png);
	max-height: 30px;
	max-width: 30px;
}





 